body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
  text-align: center;
}

header {
  background: #2563eb;
  color: white;
  padding: 40px 10px;
}

main {
  padding: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #22c55e;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background: #16a34a;
  cursor: pointer;
}

footer {
  background: #111;
  color: white;
  padding: 10px;
}
.btn {
  display: inline-block;
  transition: all 0.2s ease;
}

/* Saat disentuh */
.btn:hover {
  transform: scale(1.08);
  background-color: #16a34a;
}

/* Saat diklik */
.btn:active {
  transform: scale(0.95);
}
.artikel {
  background: #f5f5f5;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
